:root {
  --main-color: #123d68;
  --second-color: #f48637;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  /* border: 1px solid red; */
}
html {
  font-size: 62.5%;
}

.header,
.nav,
.nav-item-container,
.button-container,
.mobile-container {
  display: flex;
}

.header {
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  padding: 10px;
}
.logo-container {
  width: 3rem;
}

.mobile-container {
 width: 100%; 
}

.sidebar, .web-logo {
  display: none;
}

.button-container, .mobile-logo-container {
  width: 50%;
}


.mobile-logo{
  width: 5rem;
}

.button-container {
  justify-content: space-between;
  align-items: center;
}

.button-style {
  background-color: var(--second-color);
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: 9rem;
  color: white;
  font-weight: bold;
}

.main {
  width: 100%;
  height: 70%;
}

.main-img {
  width: 40rem;
}

.main-text {
  font-size: 3rem;
}
.text-up{
  color: var(--main-color);
}
.text-down{
  color: var(--second-color);
}

.signup-container{
  position: absolute;
}

.hero {
  width: 100%;
}

.second-section-container{
  background-color: var(--main-color);
}

.footer {
  width: 100%;
  height: 10vh;
}w
